@import url(http://fonts.googleapis.com/css?family=Raleway:400,900);

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

h1 {
	font-weight: 400;
	font-size: 1.2em;
	text-transform: uppercase;
	margin: .4em 0;

}

p {
	font-size: .8em;

}

li {
	display: block;

}

a {
	text-decoration: none;
	color: #1e1e1e;
	font-size: .8em;	
}

aside {
	background-color: #fcfdd5;
	display: block;
	float: left;
	height: 100%;
	width: 20%;
	padding: 2%;
	position: fixed;
	max-width: 200px;
}

section {
	display: block;
	float: left;
	left: 20%;
	padding: 2%;
	width: 72%;
	position: absolute;
}

hr {
/*	width: 100%;
*/	
}

footer {
	position: fixed;
	bottom: 30px;
	width: 20%;

}

.homenav {
	margin-top: .5em;
}

.homenav li a {
	font-size: 4em;
	line-height: .9em;
	font-weight: 900;

}

.wrapper {
	position: relative;
	height: 100%;
}

.description {
	font-size: .75em;
	margin-top: 1em;
	text-align: center;
	text-transform: uppercase;
}

.contact li a {
	font-size: .7em;
}

#logo {
	margin: 0 1% 0 1%;
	width: 94%;
}

#self {
	margin-top: 1em;
	width: 96%;
	max-width: 720px;	
}

.titlecontact{
	font-size: .8em;
/*	margin-bottom: 1em;
*/	
}

.contact {
	margin-top: .8em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a:hover {
	color: #FC986A;
}

/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */
/*      FOR MOBILE    */


@media only screen and (max-width:550px) {

	body {
		font-size: 12px;
	}

	h1 {
		font-size: 1.3em;
		margin: .8em 0;
		text-align: center;

	}

	p {
		font-size: 1em;

	}

	ul {
		width: 100%;
		margin-top: .5em;
		display: block;
	}

	li {
		display: block;
		width: 100%;
		text-align: center;

	}

	a {
		text-decoration: none;
		color: #1e1e1e;
		font-size: .8em;	
	}

	/* check here */

	aside {
		display: block;
		float: none;
		height: 100%;
		width: 100%;
		padding: 0;
		position: relative;
		max-width: none;
	}

	section {
		display: block;
		float: none;
		padding: 0;
		width: 100%;
		position: static;
	}

	hr {
		display: none;	
	}

	header {
		width: 100%;
	}

	main {
		width: 100%;
	}

	footer {
		background-color: #fcfdd5;
		width: 100%;
		display: block;
		padding: 1em;
		position: fixed;
		bottom: 0;		
	}

	.homenav {
		margin-top: .5em;
	}

	.homenav li {
		background-color: #fff;
		width: 100%;
		display: block;		
	}

	.homenav li a {
		font-size: 5em;
		line-height: .9em;
		font-weight: 900;

	}

	.wrapper {
		position: static;
		height: 100%;
	}

	.description {
		font-size: .75em;
		margin-top: 1em;
		text-align: center;
		text-transform: uppercase;
		display: none;
	}

	.contact li a {
		font-size: 1em;
		width: 100%;
		line-height: 1.5em;
	}

	#logo {
		display: none;
	}

	#self {
		margin: 1.3em 4% 0;
		width: 92%;
	}

	.titlecontact{
		font-size: 1.1em;
		text-align: center;
	/*	margin-bottom: 1em;
	*/	
	}

	.contact {
		margin-top: .8em;
	}

	.clearfix:after {
	  visibility: hidden;
	  display: block;
	  font-size: 0;
	  content: " ";
	  clear: both;
	  height: 0;
	}

	li a:hover {
		color: #fff;
		background-color: #1E1E1E;

	}

	
}